.letter__title {
    color: #ff5912;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.letter__form {
    text-align: center;
}
  
.mail-img {
    margin-right: 10px;
}
  
.letter__form-input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
}
  
.letter__form-input:focus-visible {
    border: none;
    outline: none;
}
  
.letter__form-submit {
    padding: 10px;
    background-color: #ff5912;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
.letter__form-submit:hover {
    opacity: 0.9;
}