.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}

.modalActive {
    opacity: 1;
    z-index: 99;
}

.bg {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
}

.block {
    padding: 20px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    z-index: 10;
    scale: 0;
    transition: 0.3s;
}

.blockActive {
    scale: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
}

.close {
    font-size: 36px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.close:hover {
    color: #ff5912;
}
    
.body {
    padding: 20px 40px;
    max-height: 600px;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 50px;
}

.text {
    font-size: 24px;
    text-align: center;
}

.footer {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 50px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    min-width: 120px;
    max-width: 150px;
}

.btn:hover {
    opacity: 0.8;
}

.accept {
    grid-column: 1;
    background-color: #09a022;
    color: #fff;
}

.cancel {
    grid-column: 2;
    background-color: #cd0000;
    color: #fff;
}

@media screen and (max-width: 1050px) {
    
    .footer {
        grid-template-rows: 50px;
        gap: 20px;
    }

    .btn {
        padding: 10px 12px;
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {

    .block {
        padding: 10px 15px;
        width: 80%;
    }

    .title {
        font-size: 20px;
    }
    
    .body {
        padding: 10px 20px;
        max-height: 60vh;
    }

    .footer {
        justify-items: center;
    }
}

@media screen and (max-width: 450px) {

    .text {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
        min-width: 90px;
    }
}

