.wrap {
    position: relative;
    overflow: hidden;
}
  
.wrap:hover .hover {
    transform: translateY(0);
}
  
.front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    background-color: #fff;
    height: 100%;
}
  
.img {
    width: 180px;
    height: 220px;
}
  
.name {
    font-family: 'RobotoB', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
  
.price {
    font-size: 20px;
    color: #ff5912;
    font-weight: 700;
}
  
.hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    row-gap: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 30px 50px;
    background-color: #fff;
    transform: translateY(-100%);
}
  
.imgHover {
    width: 100px;
    height: 120px;
}

.brandBlock {
    gap: 10px;
}
  
.brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    text-align: center;
}

.buyBlock {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
  
.buy {
    border: none;
    background: none;
}
  
.buy:hover .buyImg{
    fill: #ff5912;
}
  
.buyImg {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 1500px) {

    .img {
        width: auto;
        height: auto;
    }

    .hover {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 1250px) {
    
    .name {
        font-size: 14px;
    }

    .price {
        font-size: 18px;
    }
}

@media screen and (max-width: 1050px) {
    
    .img {
        width: auto;
        height: 65%;
    }

    .imgHover {
        width: 200px;
        height: 250px;
    }
}

@media screen and (max-width: 900px) {

    .imgHover {
        width: 135px;
        height: 170px;
    }

    .brand {
        font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
    
    .wrap {
        max-width: 320px;
        margin: 0 auto;
        width: 100%;
    }

    .wrap:hover .hover {
        transform: none;
    }

    .hover {
        position: static;
        transform: none;
        height: 100%;
        gap: 20px;
    }

    .imgHover {
        width: 80%;
        height: auto;
        order: 2;
    }

    .name {
        order: 1;
        font-size: 20px;
    }

    .brandBlock {
        order: 3;
        font-size: 19px;
    }

    .brand {
        font-size: 16px;
    }

    .buyBlock {
        order: 4;
    }

    .price {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    .name {
        font-size: 18px;
    }

    .brand {
        font-size: 16px;
    }
}