.sidebar {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
}
  
.wrap {
    background-color: #fff;
    padding: 20px 40px;
}
  
.title {
    font-family: "RobotoB", sans-serif;
    font-size: 20px;
    color: #ff5912;
    margin-bottom: 30px;
}

.formPrice {
    display: grid;
    align-items: center;
    row-gap: 10px;
    grid-template-columns: auto auto auto;
}
  
.square {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    letter-spacing: 1px;
    white-space: nowrap;
}
  
.square::before {
    content: " ";
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #edf0f2;
    margin-right: 20px;
    box-sizing: border-box;
}

.item:hover ~ .square{
    background-color: red;
}
  
.checkbox:checked+label::before {
    border: 4px solid #ff5912;
}
  
.checkbox {
    display: none;
}

.label {
    display: block;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}
  
.number {
    display: inline-block;
    max-width: 60px;
    font-size: 16px;
    padding: 2px;
    border: 1px solid #000;
    outline: none;
}

.currency {
    font-size: 16px;
    margin-left: 5px;
}
  
.confirm {
    grid-column: 2 / 3;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #ff5912;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 60px;
    margin-right: auto;
}

.confirm:hover {
    opacity: 0.9;
}

@media screen and (max-width: 1250px) {

    .wrap {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 1050px) {

    .sidebar {
        grid-template-columns: auto auto;
        align-items: start;
    }

    .formCheckbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: max-content;
        gap: 20px;
    }

    .square::before {
        margin-right: 10px;
    }
}

@media screen and (max-width: 750px) {
    
    .sidebar {
        grid-template-columns: auto;
        gap: 20px;
        justify-items: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 525px) {

    .wrap {
        padding: 10px 20px;
    }
    
    .formCheckbox {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {

    .wrap {
        width: 100%;
        padding: 10px 20px;
    }
    
    .formCheckbox {
        grid-template-columns: 1fr;
        gap: 0;
        column-gap: 10px;
    }
}