.sidebar {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
}
  
.sidebar__item {
    background-color: #fff;
    padding: 20px 40px;
}
  
.sidebar__item-title {
    font-family: "HarmoniaB", sans-serif;
    font-size: 20px;
    color: #ff5912;
    margin-bottom: 30px;
}
  
.sidebar__label {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    letter-spacing: 1px;
    white-space: nowrap;
}
  
.sidebar__label::before {
    content: " ";
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #edf0f2;
    margin-right: 20px;
    box-sizing: border-box;
}

.sidebar__form-item:hover ~ .sidebar__label{
    background-color: red;
}
  
.sidebar__input:checked+label::before {
    border: 4px solid #ff5912;
}
  
.sidebar__input {
    display: none;
}
  
.sidebar__form-price {
    display: grid;
    align-items: center;
    row-gap: 10px;
    grid-template-columns: auto auto auto;
}

.sidebar__ok {
    grid-column: 2 / 3;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #ff5912;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    margin-right: auto;
}

.sidebar__ok:hover {
    opacity: 0.9;
}
  
.sidebar__input-number {
    display: inline-block;
    max-width: 60px;
    font-size: 16px;
    padding: 2px;
}
  
.sidebar__input-label {
    display: block;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}
  
.sidebar__dash {
    display: inline-block;
    margin: 0 5px;
}

@media screen and (max-width: 1250px) {

    .sidebar__item {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 1050px) {

    .sidebar {
        grid-template-columns: auto auto;
        align-items: start;
    }

    .sidebar__form-checkbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: max-content;
        gap: 20px;
    }

    .sidebar__label::before {
        margin-right: 10px;
    }
}

@media screen and (max-width: 750px) {
    
    .sidebar {
        grid-template-columns: auto;
        gap: 20px;
        justify-items: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {

    .sidebar__item {
        padding: 10px 20px;
    }
    
    .sidebar__form-checkbox {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {

    .sidebar__item {
        width: 100%;
    }

    .sidebar__item {
        padding: 10px 20px;
    }
    
    .sidebar__form-checkbox {
        grid-template-columns: 1fr;
        gap: 0;
        column-gap: 10px;
    }
}