@font-face {
  font-family: 'HarmoniaB';
  src: local('HarmoniaSansProCyr'), url(./fonts/HarmoniaSansProCyr-Black.otf) format('opentype');
}

@font-face {
  font-family: 'HarmoniaR';
  src: local('HarmoniaSansProCyr'), url(./fonts/HarmoniaSansProCyr-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'HarmoniaR', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
  max-width: 1920px;
}

section {
  background-color: #f4f6f8;;
}

.section-content {
  padding: 50px 0;
}

.section-title {
  margin-bottom: 80px;
  text-align: center;
  font-size: 30px;
  color: #ff5912;
  text-transform: uppercase;
  font-weight: 700;
}

.title-span {
  color: #000;
}

.about__content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.about__img {
  float: left;
  width: 500px;
  height: 400px;
  margin-right: 60px;
}

.about__text {
  font-size: 22px;
  margin-bottom: 18px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/*HOME*/

.new-block {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 30px;
  padding-bottom: 50px;
}

/*Catalog*/

.catalog-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.products-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}