@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoR';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'RobotoR', sans-serif;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;;
}

.container {
  width: 70%;
  margin: 0 auto;
  max-width: 1920px;
}

section {
  background-color: #f4f6f8;;
}

.section-content {
  padding: 50px 0;
}

.section-title {
  margin-bottom: 80px;
  text-align: center;
  font-size: 30px;
  color: #ff5912;
  text-transform: uppercase;
  font-weight: 700;
}

.title-span {
  color: #000;
}

/*HOME*/

.new-block {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 30px;
  padding-bottom: 50px;
}

/*Catalog*/

.catalog-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.products-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media screen and (max-width: 1500px) {

  .container {
    width: 80%;
  }
}

@media screen and (max-width: 1250px) {

  .section-title {
    margin-bottom: 50px;
  }

  .catalog-block {
    gap: 30px;
  }

  .products-wrap {
    gap: 20px;
  }
}

@media screen and (max-width: 1050px) {
    
  .container {
    width: 90%;
  }

  .new-block {
    padding: 20px 100px;
    grid-auto-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 50px;
  }

  .catalog-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {

  .section-content {
    padding: 40px 0;
  }
    
  .section-title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .new-block {
    padding: 0 20px 0 20px;
    margin: 0 auto;
    grid-auto-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: center;
    gap: 50px;
  }

  .products-wrap {
    grid-template-columns: auto;
    margin: 0 auto;
    gap: 50px;
  }
}
